#1{background-color: #00feff;}
#2{background-color: #01eddf}
#3{background-color: #eeff00;}


#5{ width:70% ; height: 600; background-color: #eeff00;}
#4{width: 25%; height: 10%; background-color: #01eddf;}