#q{text-decoration: underline dashed rgb(56, 36, 10); text-align: right;}
#w{text-align: center; text-decoration: line-through;}
#e{text-align: center; text-decoration: underline;}
#r{text-align: right; text-decoration: line-through dashed ;}
#t{text-decoration: line-through;}
#y{text-decoration: overline;}
#u{text-align: right; color: green; text-decoration: overline;}
#i{text-align: center; color: grey; text-transform: uppercase; text-decoration: overline;}
#o{text-align: right; text-decoration: underline dashed rgb(57, 60, 57)}